<div class="col-md-12">
  <div class="card flex-md-row mb-4 box-shadow ">
    
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary"><%= link_to blog.topic.title,blog_topic_path(blog.topic.id) %></strong>
     
      <h3 class="mb-0">
      	<%= link_to blog.title, blog, class:"text-dark" %>
        <!-- <a class="text-dark" href="#"><%= blog.title %></a> -->
      </h3>
      <div class="mb-1 text-muted"><%= time_ago_in_words(blog.created_at)+" ago"%></div>
      <%if logged_in?(:site_admin)%>
        
      <%else%>
        <p class="card-text mb-auto"><%= raw blog.body%></p>
      <%end%>
      <%if logged_in?(:site_admin)%>
        <%=render "blogs/admin_toggles",blog:blog%>
        <%end%>
    </div>
      <%if blog.status=="draft"%>
        <%button="btn btn-danger"%>
      <%else%>
        <%button="btn btn-success"%>
      <%end%>
    	
  </div>
</div>