<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        <%=@blog.topic.title%>
      </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <%=link_to "Home",root_path,class:"breadcrumb-item"%>
          <%=link_to "Blogs",blogs_path,class:"breadcrumb-item"%>
          <%= link_to @blog.topic.title,blog_topic_path(@blog.topic.id),class:"breadcrumb-item" %>
          <%=link_to @blog.title,"#",class:"breadcrumb-item active"%>
          
        </ol>
          <span class="pull-right">
            <%=link_to fa_icon("trash"),@blog,method: :delete,data:{confirm:"Are You Sure?"} if logged_in?(:site_admin) %>
          </span>
      </nav>
      <div class="blog-post">
        <h2 class="blog-post-title"><%= @blog.title %></h2>
        <p class="blog-post-meta"><%= time_ago_in_words @blog.created_at %> ago</p>
        <%= @blog.body.html_safe %>
        
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <%= link_to 'Back', blogs_path,class:"btn btn-outline-primary" %>
        <%= link_to 'Edit', edit_blog_path(@blog),class:"btn btn-outline-secondary" if logged_in?(:site_admin) %>
      </nav>
      <%=render 'comments/comment_form',comment:@comment%>

      <div id="comments" data-blog-id="<%= @blog.id %>">
        <%=render @blog.comments%>
      </div>
      <!-- End of comments -->
    </div><!-- /.blog-main -->

    <%= render "shared/blog_sidebar"%>
  </div><!-- /.row -->

</main>