<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<% @portfolio_items.each do |portfolio|%>
		<div>
		<p><%=portfolio.title%></p>
		<p><%=portfolio.subtitle%></p>
		<p><%=portfolio.body%></p>
		<%=image_tag portfolio.thumb_image||"https://briggo.com/wp-content/uploads/2013/03/image-alignment-300x200-300x200.jpg"%>
		</div>	
		<br>
		<%= button_to "Edit",edit_portfolio_path(portfolio.id),method:"get"%>	
	<% end %>
</body>
</html>