<%=image_tag @portfolio.main_image unless @portfolio.main_image.nil?%>
<h1><%=@portfolio.title%></h1>
<h3><%=@portfolio.subtitle%></h3>

<p><%=@portfolio.body%></p>
<h2>Technologies Used:</h2>
<%@portfolio.technologies.each do |f|%>
<p><%=f.name%></p>
<%end%>