<aside class="blog-sidebar col-md-4">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0"><%=render "shared/about"%></p>
          </div>

          

          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <div class="social-links">
              <a href="https://github.com/stingrayzboy/" target="_blank"><%=fa_icon "github"%></a>&nbsp;&nbsp;
              <a href="https://twitter.com/FarazNoor7" target="_blank"><%=fa_icon "twitter"%></a>&nbsp;&nbsp;
              <a href="https://www.facebook.com/StingrayzF" target="_blank"><%=fa_icon "facebook"%></a>&nbsp;&nbsp;
              <a href="https://www.linkedin.com/in/go-get-faraz/" target="_blank"><%=fa_icon "linkedin"%></a>&nbsp;&nbsp;
              <a href="mailto:faraznoor75@gmail.com?subject=DevCamp" target="_blank"><%=fa_icon "at"%></a>&nbsp;&nbsp;
            </div>
          </div>

          <%if @topics%>
            <div class="p-3">
              <h4 class="font-italic">Topics</h4>
              <ol class="list-unstyled mb-0">
                <%@topics.each do |topic|%>
                  <li><%= link_to topic.title,blog_topic_path(topic.id)%></li>
                <%end%>
              </ol>
            </div>
          <%else%>
          
          <%end%>
</aside><!-- /.blog-sidebar -->
