<div>
	<div><%=link_to "Home",root_path%></div>
    <div><%=link_to "About",pages_about_path%></div>
    <div><%=link_to "Contact",pages_contact_path%></div>
    <div><%=link_to "Blog",blogs_path%></div>
    <div><%=link_to "Portfolio",portfolios_path%></div>
</div>