<!DOCTYPE html>
<html>
  <head>
    <title><%=@page_title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
   
   <%=video_tag(
      'cover.mp4',
      id:'background',
      autoplay:true,
      loop:true,
      muted:true,
      poster:'covers/wallpaper1.jpg'
   )%>

    <%=render "shared/nav_bar"%>

  		<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      
    <%= yield %>
    <%=render "shared/footer"%>
  </div>
  </body>
</html>