<!DOCTYPE html>
<html>
  <head>
    <title><%=@page_title%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <%=render "shared/nav_bar",location:"top"%>
  		<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      
      <%=logged_in%>
    <%= yield %>
    <hr>
    <%if session[:source]%>
      Thanks From Visiting From <%=session[:source].inspect%>
    <%end%>
    
  </body>
</html>
