<!DOCTYPE html>
<html>
  <head>
    <title><%=@page_title%></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- start of nav bar -->
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">I began my Journey as an average student, living the average life, being the average person. But I always had in intention of having, from being a class flunker to a topper, from being a waterboy to a state level goalie, from being a computer hater to a computer lover, I have always achieved what I wanted.</p>
            </div>
            
            <%= render "shared/nav_bar_portfolio",location:"top"%>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Faraz Noor</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <!-- end of nav bar -->
      <main role="main">
        <%= render "shared/portfolio_masthead"%>
        <%= yield %>
      </main>   
  		
      
     

      
     
    <hr>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p><%=set_copyright%></p>
        <p><%=session_module%></p>
      </div>
    </footer>
    
    
    
  </body>
</html>
