<!DOCTYPE html>
<html>
  <head>
    <title><%=@page_title%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <%=render "shared/nav_bar",location:"top"%>
  		<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      
      <%if current_user.is_a?(User)%>
        <%=link_to "Log out",destroy_user_session_path,method: :delete %>
    	<%else%>
        <%=link_to "Log in",new_user_session_path %>
        <%=link_to "Sign Up!",new_user_registration_path%>
    	<%end%>
    <%= yield %>
    <hr>
    <%if session[:source]%>
      Thanks From Visiting From <%=session[:source].inspect%>
    <%end%>
    
  </body>
</html>
